<ion-tabs>
   <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
         <ion-icon name="home"></ion-icon>
         <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="activity">
         <ion-icon name="leaf"></ion-icon>
         <ion-label>Actions</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="event">
         <ion-icon name="people"></ion-icon>
         <ion-label>Événements</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="option">
         <ion-icon name="options"></ion-icon>
         <ion-label>Options</ion-label>
      </ion-tab-button>
   </ion-tab-bar>
</ion-tabs>
