<ion-header>
   <ion-toolbar color="light">
      <ion-buttons slot="start">
         <ion-button (click)="cancel()">Annuler</ion-button>
      </ion-buttons>
      <ion-title>Choisir une image</ion-title>
      <ion-buttons slot="end">
         <ion-button (click)="confirm()"><ion-icon slot="icon-only" name="checkmark"></ion-icon></ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
   <ion-grid>
      <ion-row>
         <ion-col>
            <ion-button *ngIf="!myImage" (click)="selectImage()">Sélectionner une image</ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
   <ng-container *ngIf="myImage">
      <image-cropper
         #cropper
         [imageBase64]="myImage"
         [maintainAspectRatio]="true"
         [aspectRatio]="1 / 1"
         format="jpeg"
         [hideResizeSquares]="isMobile"
         [resizeToWidth]="500"
         [resizeToHeight]="500"
         [transform]="transform"
         [autoCrop]="false"
         (imageCropped)="imageCropped($event)"
         (loadImageFailed)="loadImageFailed()"
         (imageLoaded)="imageLoaded()"
      ></image-cropper>

      <ion-grid>
         <ion-row>
            <ion-col>
               <ion-button color="primary" (click)="cropImage()">Recadrer l'image</ion-button>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ng-container>

   <img [src]="croppedImage" *ngIf="croppedImage" />
</ion-content>
